html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
nav span{
  margin: 5px 0px 5px 0px;
}

nav a{
  text-decoration: none;
}

nav {
  background-color: grey;
  height: 50px;
  display: grid;
  justify-items: left;
  text-align: center;
}

@media (min-width: 30rem){
  nav {
    grid-template-columns: 1fr auto auto auto auto;
    justify-items: start;
  }
  nav span{
    margin: 0px 5px 0px 5px;
  }
}

.login-form {

}

.bg-video__content {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
}

.bg-video {
  position: relative;
  height: 95vh;
  width: 100%;
}
