html, body {
  font-family: 'Overpass', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
nav span{
  margin: 5px 0px 5px 0px;
}

nav a {
  text-decoration: none;
}

nav {
  background-color: grey;
  height: 50px;
  display: grid;
  justify-items: left;
  text-align: center;
}

@media (min-width: 30rem){
  nav {
    grid-template-columns: 1fr auto auto auto auto;
    justify-items: start;
  }
  nav span{
    margin: 0px 5px 0px 5px;
  }
}

.chat-app {
  margin: 0 auto;
  padding: 30px 50px;
}
.chat-wrap {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  display: flex;
}
.chat-container {
  border: 1px solid brown;
  max-width: 100vw;
  max-height: 50vh;
  display: flex;
  align-items: center;

}
.all-messages {
  max-height: 5vh;
}
.message-display {
  overflow: scroll;
  border: 1px solid black;
  min-height: 35vh;
  max-height: 35vh;
  background-color: rgb(224, 237, 240);
}

.chat-list {
  height: 40vh;
  max-width: 30vw;
  background-color: rgba(0, 255, 208, 0.345);
}

.chat-notify {
  position: relative;
  max-height: 40px;
  bottom: -150px;
}

#chat-input {
  height: 5vh;
}


.hero {
  width: 100%;
  height: 100%;
  background-image: url('http://placehold.jp/1600x900.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-video__content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
}

.bg-video {
  text-align: center;
  position: relative;
  height: 95vh;
  width: 100%;
}


.header-container {
  top: 40%;
  width: 100%;
  position: absolute;
}

.header-main {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
}
.goat-avatar {
  width: 100px;
  height: 100px;
  clip-path: square();
}

.goats-display {
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
}

.goat-card {
  display: grid;
  margin-bottom: 20px;
  width: 100%;
  grid-template-columns: 40% 1fr;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.browse-display {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% auto;
}

.map-container {
  width: 80%;
  height: 80%;
  padding: 5%;
  margin: auto;
}
