.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.chat-container {
  border: 1px solid blue;
  max-width: 40vw;
  min-height: 40vh;
  position: absolute;
}

.message-display {
  border: 1px solid black;
  background-color: rgb(224, 237, 240);
  min-height: 30vh;
}