html, body, div {
  width: 100%;
  height: 100%;
}
nav span{
  margin: 5px 0px 5px 0px;
}

nav a {
  text-decoration: none;
}

nav {
  background-color: grey;
  height: 50px;
  display: grid;
  justify-items: left;
  text-align: center;
}

@media (min-width: 30rem){
  nav {
    grid-template-columns: 1fr auto auto auto auto;
    justify-items: start;
  }
  nav span{
    margin: 0px 5px 0px 5px;
  }
}

.chat-container {
  border: 1px solid blue;
  max-width: 40vw;
  min-height: 40vh;
  position: absolute;
}

.message-display {
  border: 1px solid black;
  background-color: rgb(224, 237, 240);
  min-height: 30vh;
}

#chat-input {
  height: 5vh;
}

.chat-notify {
  position: absolute;
  bottom: 55px;
}
.hero {
  width: 100%;
  height: 100%;
  background-image: url('http://placehold.jp/1600x900.png');
  background-repeat: no-repeat;
  background-size: cover;
}